html {
  height: 100%;
  color: #721817;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

header {
  background-color: #99b2dd;
  padding: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.9rem;
}

header p {
  font-size: 1rem;
}

a:link,
a:visited {
  color: blue;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

.player-section {
  display: flex;
  flex-direction: column;
}

.player-section h2,
.computer-section h2 {
  text-decoration: underline;
  margin-right: 5px;
  font-size: 1.8rem;
}

img {
  height: 70px;
  width: auto;
  transition: transform 0.2s;
}

.rock-outer {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-right: 5px;
}

.paper-scissors-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paper-scissors-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
}

.lizard-spock-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lizard-spock-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
}

p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.results-section {
  order: 3;
  background-color: #d9d0de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #ccc;
}

button:hover {
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 1.3rem;
}

.player-section img:hover {
  transform: scale(1.4);
  box-shadow: 0 0 3px 5px rgb(54, 255, 4);
  border-radius: 50px;
  cursor: pointer;
}

.big-green-ring {
  transform: scale(1.4);
  box-shadow: 0 0 3px 5px rgb(54, 255, 4);
  border-radius: 50px;
}

.big-red-ring {
  transform: scale(1.4);
  box-shadow: 0 0 3px 5px #ff0000;
  border-radius: 50px;
}

@media only screen and (min-width: 700px) {
  header {
    line-height: 1rem;
  }

  h1 {
    font-size: 2.3rem;
  }

  header p {
    font-size: 1.3rem;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  img {
    height: 100px;
    width: auto;
  }

  .player-section {
    order: 1;
  }

  .results-section {
    order: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .computer-section {
    order: 3;
  }

  .player-section h2,
  .computer-section h2 {
    margin-right: 0;
  }

  h2 {
    font-size: 2rem;
  }

  .rock-outer {
    margin-right: 0;
  }

  .paper-scissors-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
  }

  .lizard-spock-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
  }

  p {
    font-size: 1.4rem;
  }

  button {
    width: 150px;
    height: 30px;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #ccc;
  }
}
